<div class="header">
	<ul>
		<li class="hoverable">Home</li>
		<li class="hoverable">My Profile</li>
		<li class="hoverable">My appointments</li>
		<li class="hoverable">Search</li>
		<li class="logo_header">OffClinic ✚ </li>
	</ul>
</div>