<div class="info">
	<div>OffClinic is a convenient place to find your doctor and apply for appointment.</div>
	<div>We are always happy to see you here, but hope you won't need to visit us too often.</div>
	<div class="donations">We also accept blood donations 🩸</div>
</div>
<div class="home-button login-button">Log in</div>
<div class="home-button register-button">Register</div>
<div class="usagi"><%= image_tag 'nurseusagi.jpg', style: 'height:300px;width:auto;' %></div>