<div class="profile_form_wrapper patient_form_wrapper">
	<h2 class="profile_head">Patient Profile</h2>

	<div class="profile_elements">
		<div class="profile-avatar">
			<div class="avatar-border">
				<%= avatar_for(@patient) %>
			</div>
		</div>
		<div class="profile_info">
			<h2><%= @patient.name %></h2>
			<div><b>Email: </b><%= @patient.email%></div>
		</div>
	</div>

	<% if @patient == current_patient %>
		<div class="hoverable profile_button"><%= link_to "Edit profile", edit_patient_registration_path %></div>
	<% end %>
</div>