.users_form_wrapper {
	width: 450px;
	margin: 40px auto;
	padding: 30px;
}

.iam_wrapper {
	width: 251px;
	margin: 50px auto;
}

.iam_button {
	text-decoration: none;
	color: #fff;
	font-size: 16px;
	font-weight: 800;
}

.iam_patient {
	padding: 30px 5px;
	border-top-left-radius: 50%;
	border-bottom-left-radius: 50%;
}

.iam_doctor {
	padding: 30px 8px;
	border-top-right-radius: 50%;
	border-bottom-right-radius: 50%;
}

.doctor_form_wrapper {
	border: 3px solid #86ccff;
}

.patient_form_wrapper {
	border: 3px solid #fdb3ff;
}

#error_explanation {
	color: #ff358e;
}

.notice {
	background-color: #f0c3ff;
	padding: 10px 40px;
	margin: 15px 0px;
}

.profile_form_wrapper {
	width: 70%;
	margin: 40px auto;
	padding: 30px;
}

.profile_head {
	text-align: center;
	padding-bottom: 15px;
}

.profile_button {
	background-color: #fdb3ff;
	padding: 5px;
	width: 118px;
	text-align: center;
	font-weight: 800;
	border-radius: 10px;
	margin: 15px auto 0 auto;
}

.profile_button:hover {
	background-color: #f095ff;
}

.search_doctor form{
	display: inline-block;
}

.search_doctor {
	padding: 25px;
}

.field_with_errors {
	display: inline-block;
}

.appointment_wrapper {
	width: 80%;
	padding: 20px;
	margin: 30px auto;
	text-align: center;
	line-height: 1.8;
}

.profile_info {
	width: 70%;
	line-height: 1.5;
	flex-grow: 1;
	padding: 5px;
}

.profile-avatar {
	margin: 0 10px;
}

.avatar-border {
	border-radius: 50%;
	overflow: hidden;
}

.avatar-border img {
	display: block;
	width: 100px;
	height: 100px;
	object-fit: cover;
}

.profile_elements {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}