* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.header {
	background-color: #fdb3ff;
	padding-left: 50px;
	padding-right: 4px;
}

.header li {
	display: inline-block;
	list-style-type: none;
	color: #fff;
	font-weight: 800;
	padding: 12px;
}

.header li.hoverable:hover, .login-button:hover {
	background-color: #f095ff;
}

.usagi {
	margin: 15px auto;
	width: 305px;
}

.info {
	text-align: center;
	font-size: 20px;
	margin-top: 40px;
	margin-bottom: 30px;
	line-height: 1.5;
	padding: 0 50px;
}

.logo_header {
	float: right;
}

.donations {
	font-size: 16px;
}

.home-button {
	width: 120px;
	text-align: center;
	padding: 10px;
	margin: 5px auto;
	border-radius: 8px;
	font-size: 20px;
	color: #fff;
	font-weight: 800;
}

.login-button {
	background-color: #fdb3ff;
}

.register-button {
	background-color: #86ccff;
}

.register-button:hover {
	background-color: #7bb3ff;
}