<div class="iam_wrapper">
<%= link_to "I'm a patient", new_patient_registration_path, class:"login-button iam_patient iam_button" %><%= link_to "I'm a doctor", new_doctor_registration_path, class:"register-button iam_doctor iam_button" %>
</div>